.react-calendar {
  background-color: #333333;
  color: #ecbe80;
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.react-calendar__tile {
  background-color: #444444;
  color: #ecbe80;
}

.react-calendar__tile--active {
  background-color: #71a3c1;
  color: #ffffff;
}

.react-calendar__tile--now {
  background-color: #f0f8ff;
  color: #333333;
}

.react-calendar__tile:hover {
  background-color: #5f5f5f;
}

.rbc-event {
  background-color: #ecbe80;
  color: #333333;
  border-radius: 4px;
}
.rbc-event-today {
  background-color: #ecbe80 !important;
}

.rbc-event:hover {
  background-color: #71a3c1;
  color: #ffffff;
}

.rbc-header {
  background-color: #333333;
  color: #ecbe80;
}

.rbc-btn {
  background-color: #333333;
  color: #ecbe80;
  border: none;
}
.rbc-agenda-empty {
  color: #ecbe80;
}
.cal-but {
  color: #0f3245;
}
.input-cal-in {
  color: #0f3245;
}
.mt-4 {
  color: #0f3245;
}
.rbc-toolbar-label {
  color: #ecbe80;
}
.rbc-label {
  color: #ecbe80;
}
.rbc-button-link {
  color: #ecbe80;
  border: none;
}
.rbc-btn:hover {
  background-color: #444444;
  color: #fff;
}

.rbc-toolbar button {
  color: #ecbe80;
  background-color: transparent;
  border: none;
}

.rbc-day-bg {
  color: #ecbe80 !important;
}

.rbc-day-bg:hover {
  color: #ecbe80 !important;
  background-color: #333333;
}

.rbc-day-bg {
  color: #ecbe80 !important;
}

.rbc-day-bg.rbc-off-range-bg {
  color: #0f3245 !important;
}

/ .rbc-day-bg:hover {
  background-color: #e6f7ff !important;
  color: #ecbe80 !important;
}

.rbc-agenda-time-cell {
  color: #ecbe80 !important;
}
.rbc-agenda-date-cell {
  color: #ecbe80 !important;
}
.rbc-agenda-event-cell {
  color: #ecbe80 !important;
}
