.hero-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #000;

  background-color: #ffffff;
  box-sizing: border-box;
  max-width: 1200px;

  padding-top: 150px;
}

.hero {
  max-width: 1200px;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.hero-image {
  width: 100%;
  height: auto;
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero h1 {
  font-size: 4rem;
  margin: 0;
  color: rgb(199, 143, 204);
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: italic;
}

.hero h2 {
  font-size: 2rem;
  margin-top: 1rem;
  color: white;
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: italic;
}
.button {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: italic;
  margin-top: 50px;
}

.entries-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.relative {
  color: rgb(199, 143, 204);
  font-family: "Merriweather", serif;
  font-weight: 500;
  font-style: italic;
  font-size: 70px;
  color: rgb(199, 143, 204);
}
